<component name="ArtifactManager">
  <artifact type="war" name="SpringDataStruts:war">
    <output-path>$PROJECT_DIR$/SpringDataStruts/target</output-path>
    <root id="archive" name="SpringDataStruts.war">
      <element id="artifact" artifact-name="SpringDataStruts:war exploded" />
    </root>
  </artifact>
</component>