<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url"><![CDATA[ jdbc:mysql://localhost:3306/hibernate_test?useUnicode=true&characterEncoding=utf8 ]]></property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123123</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 开启二级缓存 ,但是hibernate没有提供二级缓存组件 常用的是echcache-->
		<property name="hibernate.cache.use_second_level_cache">true</property>
        <!-- 设置二级缓存的类 -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>

		<mapping class="com.yangyang.model.User" />
		<mapping class="com.yangyang.model.Student" />
		<mapping class="com.yangyang.model.ClassRoom" />
		<mapping class="com.yangyang.model.Person" />
		<mapping class="com.yangyang.model.IdCard" />
		<mapping class="com.yangyang.model.Admin" />
		<mapping class="com.yangyang.model.Role" />
		<mapping class="com.yangyang.model.Teacher" />
		<mapping class="com.yangyang.model.Course" />
		<mapping class="com.yangyang.model.TeacherCourse" />

		<mapping class="com.yangyang.HQL.Student" />
		<mapping class="com.yangyang.HQL.Special" />
		<mapping class="com.yangyang.HQL.ClassRoom" />
	</session-factory>
</hibernate-configuration>